.version.index /* version checker */
{
	color: #0000E2;
	background-color: #804A53;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 23036.975px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -1px;
	width: 0.01px;
}

#u120
{
	z-index: 469;
	height: 58px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	position: fixed;
	top: -1px;
}

#u120-bw
{
	z-index: 469;
}

#u1638
{
	z-index: 17;
	width: 15px;
	height: 16px;
	border-style: solid;
	border-color: #F4F4F4;
	background-color: transparent;
	-webkit-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-4,10);
	-ms-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-4,10);
	transform: matrix(0.7071,-0.7071,0.7071,0.7071,-4,10);
	position: relative;
	margin-right: -10000px;
	margin-top: 667px;
	left: 570px;
	border-width: 0px 0px 5px 5px;
}

#u2836
{
	z-index: 23;
	min-height: 900.4985346804849px;
	padding-bottom: 1px;
	background: transparent url("../images/bg_1.jpg") no-repeat center bottom;
	background-size: cover;
}

#u2836_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	padding-top: 206px;
	padding-bottom: 192px;
}

#u2837-6
{
	z-index: 24;
	width: 960px;
	min-height: 281px;
	background-color: transparent;
	color: #F4F4F4;
	line-height: 77px;
	text-align: center;
	letter-spacing: 1px;
	font-size: 55px;
	font-family: roboto, sans-serif;
	font-weight: 200;
	left: 100px;
	position: relative;
}

#u2839-4
{
	z-index: 30;
	width: 960px;
	min-height: 19px;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	color: #FFFFFF;
	line-height: 12px;
	text-align: center;
	letter-spacing: 4px;
	font-size: 11px;
	font-family: roboto, sans-serif;
	font-weight: 500;
	left: 100px;
	margin-top: 157px;
	position: relative;
}

#u3241
{
	z-index: 155;
	width: 30px;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	left: 565px;
	margin-top: 24px;
	position: relative;
}

#u2836-bw
{
	z-index: 23;
	min-height: 900.4985346804849px;
}

#u2861-4
{
	z-index: 34;
	width: 690px;
	min-height: 64px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 30px;
	text-align: center;
	font-size: 25px;
	font-family: roboto, sans-serif;
	font-weight: 200;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 413px;
	left: 235px;
}

#top
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	left: 686px;
}

#pu3699-4
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -901px;
	padding: 1px 1063px 58px 100px;
}

#u3699-4
{
	z-index: 484;
	width: 61px;
	min-height: 57px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	color: #000000;
	line-height: 16px;
	text-align: center;
	letter-spacing: 1px;
	font-size: 13px;
	font-family: roboto, sans-serif;
	font-weight: 400;
	position: fixed;
	top: -1px;
	left: 50%;
	margin-left: -204px;
}

#u3699-4:hover
{
	border-style: none;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 57px;
	width: 61px;
	margin: 0px 0px 0px -204px;
}

#u3699-4.MuseLinkActive
{
	border-style: solid;
	border-color: #000000;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 53px;
	width: 61px;
	margin: 0px 0px 0px -204px;
	border-width: 0px 0px 4px;
}

#u3700-4
{
	z-index: 488;
	width: 148px;
	min-height: 57px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	color: #000000;
	line-height: 16px;
	text-align: center;
	letter-spacing: 1px;
	font-size: 13px;
	font-family: roboto, sans-serif;
	font-weight: 400;
	position: fixed;
	top: -1px;
	left: 50%;
	margin-left: -114px;
}

#u3700-4:hover
{
	border-style: none;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 57px;
	width: 148px;
	margin: 0px 0px 0px -114px;
}

#u3700-4.MuseLinkActive
{
	border-style: solid;
	border-color: #000000;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 53px;
	width: 148px;
	margin: 0px 0px 0px -114px;
	border-width: 0px 0px 4px;
}

#u172-4
{
	z-index: 478;
	width: 192px;
	min-height: 57px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	color: #000000;
	line-height: 16px;
	text-align: center;
	letter-spacing: 1px;
	font-size: 13px;
	font-family: roboto, sans-serif;
	font-weight: 400;
	position: fixed;
	top: -1px;
	left: 50%;
	margin-left: 63px;
}

#u172-4:hover
{
	border-style: none;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 57px;
	width: 192px;
	margin: 0px 0px 0px 63px;
}

#u172-4.MuseLinkActive
{
	border-style: solid;
	border-color: #000000;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 53px;
	width: 192px;
	margin: 0px 0px 0px 63px;
	border-width: 0px 0px 4px;
}

#u168-4
{
	z-index: 470;
	width: 81px;
	min-height: 57px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	color: #000000;
	line-height: 16px;
	text-align: center;
	letter-spacing: 1px;
	font-size: 13px;
	font-family: roboto, sans-serif;
	font-weight: 400;
	position: fixed;
	top: -1px;
	left: 50%;
	margin-left: 285px;
}

#u168-4:hover
{
	border-style: none;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 57px;
	width: 81px;
	margin: 0px 0px 0px 285px;
}

#u168-4.MuseLinkActive
{
	border-style: solid;
	border-color: #000000;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 53px;
	width: 81px;
	margin: 0px 0px 0px 285px;
	border-width: 0px 0px 4px;
}

#u182-4
{
	z-index: 474;
	width: 85px;
	min-height: 57px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	color: #000000;
	line-height: 16px;
	text-align: center;
	letter-spacing: 1px;
	font-size: 13px;
	font-family: roboto, sans-serif;
	font-weight: 400;
	position: fixed;
	top: -1px;
	left: 50%;
	margin-left: 398px;
}

#u182-4:hover
{
	border-style: none;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 57px;
	width: 85px;
	margin: 0px 0px 0px 398px;
}

#u182-4.MuseLinkActive
{
	border-style: solid;
	border-color: #000000;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 53px;
	width: 85px;
	margin: 0px 0px 0px 398px;
	border-width: 0px 0px 4px;
}

#u3702-4
{
	z-index: 492;
	width: 67px;
	min-height: 57px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	color: #000000;
	line-height: 16px;
	text-align: center;
	letter-spacing: 1px;
	font-size: 13px;
	font-family: roboto, sans-serif;
	font-weight: 400;
	position: fixed;
	top: -1px;
	left: 50%;
	margin-left: 516px;
}

#u3702-4:hover
{
	border-style: none;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 57px;
	width: 67px;
	margin: 0px 0px 0px 516px;
}

#u3702-4.MuseLinkActive
{
	border-style: solid;
	border-color: #000000;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 53px;
	width: 67px;
	margin: 0px 0px 0px 516px;
	border-width: 0px 0px 4px;
}

#u3699-4.MuseLinkActive p,#u3700-4.MuseLinkActive p,#u172-4.MuseLinkActive p,#u168-4.MuseLinkActive p,#u182-4.MuseLinkActive p,#u3702-4.MuseLinkActive p
{
	color: #000000;
	visibility: inherit;
}

#u3699-2,#u3700-2,#u172-2,#u168-2,#u182-2,#u3702-2
{
	padding-top: 21px;
}

#u4044
{
	z-index: 496;
	width: 62px;
	background-color: transparent;
	position: fixed;
	top: 7px;
	left: 50%;
	margin-left: -566px;
}

#u960
{
	z-index: 468;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #E5E5E5;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	position: fixed;
	top: 57px;
}

#u960-bw
{
	z-index: 468;
}

#speakers
{
	margin-left: 465px;
	margin-top: 44px;
	position: relative;
}

#u3084-3
{
	z-index: 142;
	min-height: 463px;
	text-align: center;
	background: transparent url("../images/hotel6-u3084-3-fr.png") no-repeat right center;
	background-size: cover;
}

#u3084-3-bw
{
	z-index: 142;
	min-height: 463px;
	margin-top: 151px;
}

#u2367-4
{
	z-index: 18;
	min-height: 52px;
	background-color: transparent;
	color: #000000;
	line-height: 42px;
	letter-spacing: 0px;
	font-family: roboto, sans-serif;
	font-weight: 400;
}

#u2367-4-bw
{
	z-index: 18;
	min-height: 52px;
	margin-top: 96px;
}

#u988-6
{
	z-index: 10;
	min-height: 120px;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 35px;
	text-align: center;
	font-size: 25px;
	font-family: roboto, sans-serif;
	font-weight: 200;
}

#u988-6-bw
{
	z-index: 10;
	min-height: 120px;
	margin-top: 36px;
}

#pu3780-3
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 92px;
}

#u3780-3
{
	z-index: 323;
	min-height: 463px;
	text-align: center;
	background: #4C4C4C url("../images/hotel4-u3642-fr.png") no-repeat right center;
	background-color: rgba(0,0,0,0.7);
	background-size: cover;
}

#u3780-3-bw
{
	z-index: 323;
	min-height: 463px;
}

#u3781-6
{
	z-index: 326;
	width: 960px;
	min-height: 251px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 51px;
	text-align: center;
	font-size: 30px;
	font-family: roboto, sans-serif;
	font-weight: 200;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 91px;
	left: 100px;
}

#u3782-6
{
	z-index: 332;
	width: 960px;
	min-height: 107px;
	background-color: transparent;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	color: #FFFFFF;
	line-height: 37px;
	text-align: center;
	font-size: 22px;
	font-family: roboto, sans-serif;
	font-weight: 300;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 356px;
	left: 100px;
}

#pu2866-4
{
	width: 0.01px;
	margin-left: -430px;
	margin-top: 107px;
}

#u2866-4
{
	z-index: 38;
	width: 484px;
	min-height: 52px;
	background-color: transparent;
	color: #000000;
	line-height: 42px;
	text-align: left;
	letter-spacing: 0px;
	font-family: roboto, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 268px;
	left: 1006px;
}

#u2867-4
{
	z-index: 42;
	width: 484px;
	min-height: 52px;
	background-color: transparent;
	color: #000000;
	line-height: 27px;
	text-align: left;
	font-size: 18px;
	letter-spacing: 0px;
	font-family: roboto, sans-serif;
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	margin-top: 338px;
	left: 1006px;
}

#u2868-10
{
	z-index: 46;
	width: 440px;
	min-height: 307px;
	background-color: transparent;
	color: #000000;
	line-height: 36px;
	font-size: 18px;
	font-family: roboto, sans-serif;
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	margin-top: 484px;
	left: 1050px;
}

#u3097
{
	z-index: 145;
	width: 850px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3109
{
	z-index: 147;
	width: 850px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 444px;
	left: 200px;
}

#u3458
{
	z-index: 161;
	width: 13px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 497px;
	left: 1025px;
}

#u3464
{
	z-index: 163;
	width: 13px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 533px;
	left: 1025px;
}

#u3467
{
	z-index: 165;
	width: 13px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 568px;
	left: 1025px;
}

#u3470
{
	z-index: 167;
	width: 13px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 641px;
	left: 1025px;
}

#pu2869-3
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 69px;
}

#u2869-3
{
	z-index: 56;
	min-height: 463px;
	text-align: center;
	background: #4C4C4C url("../images/artboard%203-u2869-3-fr.png") no-repeat right center;
	background-color: rgba(0,0,0,0.7);
	background-size: cover;
}

#u2869-3-bw
{
	z-index: 56;
	min-height: 463px;
}

#u2870-6
{
	z-index: 59;
	width: 960px;
	min-height: 307px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 51px;
	text-align: center;
	font-size: 30px;
	font-family: roboto, sans-serif;
	font-weight: 200;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 91px;
	left: 100px;
}

#u2872-6
{
	z-index: 65;
	width: 960px;
	min-height: 107px;
	background-color: transparent;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	color: #FFFFFF;
	line-height: 37px;
	text-align: center;
	font-size: 22px;
	font-family: roboto, sans-serif;
	font-weight: 300;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 356px;
	left: 100px;
}

#pu3123
{
	width: 0.01px;
	padding-bottom: 165px;
	margin-left: -339px;
	margin-top: 228px;
}

#u3123
{
	z-index: 151;
	width: 450px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 161px;
}

#u3123_clip
{
	overflow: hidden;
	width: 450px;
	height: 774px;
}

#u3123_img
{
	margin-bottom: -31px;
}

#u3117
{
	z-index: 149;
	width: 1100px;
	background-color: transparent;
	-webkit-transform: matrix(0,-1,1,0,451,649);
	-ms-transform: matrix(0,-1,1,0,451,649);
	transform: matrix(0,-1,1,0,451,649);
	position: relative;
	margin-right: -10000px;
	margin-top: 451px;
	left: 14px;
}

#pu2886-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 459px;
	margin-left: 915px;
}

#u2886-4
{
	z-index: 71;
	width: 484px;
	min-height: 52px;
	background-color: transparent;
	color: #000000;
	line-height: 42px;
	text-align: left;
	letter-spacing: 0px;
	font-family: roboto, sans-serif;
	font-weight: 300;
	position: relative;
}

#pu3477
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 14px;
}

#u3477
{
	z-index: 169;
	width: 13px;
	background-color: transparent;
	position: relative;
}

#u3479
{
	z-index: 171;
	width: 13px;
	background-color: transparent;
	margin-top: 59px;
	position: relative;
}

#u3481
{
	z-index: 173;
	width: 13px;
	background-color: transparent;
	margin-top: 23px;
	position: relative;
}

#u3483
{
	z-index: 175;
	width: 13px;
	background-color: transparent;
	margin-top: 23px;
	position: relative;
}

#u2888-12
{
	z-index: 75;
	width: 440px;
	min-height: 307px;
	background-color: transparent;
	line-height: 36px;
	font-size: 18px;
	font-family: roboto, sans-serif;
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	left: 25px;
}

#pu2893-3
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 138px;
}

#u2893-3
{
	z-index: 87;
	min-height: 463px;
	text-align: center;
	background: #4C4C4C url("../images/hotel2-u3597-fr.png") no-repeat right center;
	background-color: rgba(0,0,0,0.7);
	background-size: cover;
}

#u2893-3-bw
{
	z-index: 87;
	min-height: 463px;
}

#u2894-4
{
	z-index: 90;
	width: 960px;
	min-height: 251px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 51px;
	text-align: center;
	font-size: 30px;
	font-family: roboto, sans-serif;
	font-weight: 200;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 91px;
	left: 100px;
}

#u2895-6
{
	z-index: 94;
	width: 960px;
	min-height: 107px;
	background-color: transparent;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	color: #FFFFFF;
	line-height: 37px;
	text-align: center;
	font-size: 22px;
	font-family: roboto, sans-serif;
	font-weight: 300;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 355px;
	left: 100px;
}

#pu3251
{
	width: 0.01px;
	margin-left: -260px;
	margin-top: 274px;
}

#u3251
{
	z-index: 157;
	width: 700px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu2912-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 307px;
	margin-left: 836px;
}

#u2912-4
{
	z-index: 100;
	width: 484px;
	min-height: 52px;
	background-color: transparent;
	color: #000000;
	line-height: 42px;
	text-align: left;
	letter-spacing: 0px;
	font-family: roboto, sans-serif;
	font-weight: 300;
	position: relative;
}

#ppu3477,#ppu3490
{
	width: 0.01px;
	margin-left: 19px;
	margin-top: 19px;
}

#pu3490
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 12px;
}

#u3490
{
	z-index: 177;
	width: 13px;
	background-color: transparent;
	position: relative;
}

#u3492
{
	z-index: 179;
	width: 13px;
	background-color: transparent;
	margin-top: 23px;
	position: relative;
}

#u3494
{
	z-index: 181;
	width: 13px;
	background-color: transparent;
	margin-top: 23px;
	position: relative;
}

#u2913-8
{
	z-index: 104;
	width: 440px;
	min-height: 307px;
	background-color: transparent;
	line-height: 36px;
	font-size: 18px;
	font-family: roboto, sans-serif;
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	left: 25px;
}

#pu2918-3
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 312px;
}

#u2918-3
{
	z-index: 112;
	min-height: 463px;
	text-align: center;
	background: #4C4C4C url("../images/hotel3-u3618-fr.png") no-repeat right center;
	background-color: rgba(0,0,0,0.7);
	background-size: cover;
}

#u2918-3-bw
{
	z-index: 112;
	min-height: 463px;
}

#u2919-4
{
	z-index: 115;
	width: 960px;
	min-height: 251px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 51px;
	text-align: center;
	font-size: 30px;
	font-family: roboto, sans-serif;
	font-weight: 200;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 90px;
	left: 100px;
}

#u2920-6
{
	z-index: 119;
	width: 960px;
	min-height: 107px;
	background-color: transparent;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	color: #FFFFFF;
	line-height: 37px;
	text-align: center;
	font-size: 22px;
	font-family: roboto, sans-serif;
	font-weight: 300;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 355px;
	left: 100px;
}

#pu2928-4
{
	width: 0.01px;
	margin-left: -466px;
	margin-top: 311px;
}

#u2928-4
{
	z-index: 125;
	width: 484px;
	min-height: 52px;
	background-color: transparent;
	color: #000000;
	line-height: 42px;
	text-align: left;
	letter-spacing: 0px;
	font-family: roboto, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 280px;
	left: 1042px;
}

#u2929-8
{
	z-index: 129;
	width: 440px;
	min-height: 307px;
	background-color: transparent;
	line-height: 36px;
	font-size: 18px;
	font-family: roboto, sans-serif;
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	margin-top: 350px;
	left: 1086px;
}

#u3196
{
	z-index: 153;
	width: 1100px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3292
{
	z-index: 159;
	width: 350px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 247px;
	left: 516px;
}

#u3502
{
	z-index: 183;
	width: 13px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 363px;
	left: 1061px;
}

#u3504
{
	z-index: 185;
	width: 13px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 399px;
	left: 1061px;
}

#u3515
{
	z-index: 187;
	width: 13px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 471px;
	left: 1061px;
}

#hospitaltv
{
	margin-left: 469px;
	margin-top: 193px;
	position: relative;
}

#pu3705-3
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 119px;
}

#u3705-3
{
	z-index: 190;
	min-height: 658px;
	text-align: center;
	background: #4C4C4C url("../images/shutterstock_256227517-u3705-3-fr.png") no-repeat right center;
	background-color: rgba(0,0,0,0.7);
	background-size: cover;
}

#u3705-3-bw
{
	z-index: 190;
	min-height: 658px;
}

#u3706-4
{
	z-index: 193;
	width: 960px;
	min-height: 281px;
	background-color: transparent;
	color: #F4F4F4;
	line-height: 77px;
	text-align: center;
	letter-spacing: 1px;
	font-size: 55px;
	font-family: roboto, sans-serif;
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	margin-top: 223px;
	left: 100px;
}

#u3708-4
{
	z-index: 197;
	width: 909px;
	min-height: 84px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 29px;
	text-align: center;
	font-size: 18px;
	font-family: roboto, sans-serif;
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	margin-top: 476px;
	left: 121px;
}

#pu4008
{
	width: 0.01px;
	margin-left: -139px;
	margin-top: 167px;
}

#u4008
{
	z-index: 385;
	width: 611px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu3710-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 57px;
	margin-left: 715px;
}

#u3710-4
{
	z-index: 201;
	width: 484px;
	min-height: 52px;
	background-color: transparent;
	color: #000000;
	line-height: 49px;
	text-align: left;
	letter-spacing: 0px;
	font-family: roboto, sans-serif;
	font-weight: 300;
	position: relative;
}

#u3711-4
{
	z-index: 205;
	width: 484px;
	min-height: 295px;
	background-color: transparent;
	color: #000000;
	line-height: 27px;
	text-align: left;
	font-size: 18px;
	letter-spacing: 0px;
	font-family: roboto, sans-serif;
	font-weight: 200;
	margin-top: 32px;
	position: relative;
}

#pu3726-3
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 221px;
}

#u3726-3
{
	z-index: 209;
	min-height: 463px;
	text-align: center;
	background: #4C4C4C url("../images/fotolia_104890933_s-u3726-3-fr.png") no-repeat right center;
	background-color: rgba(0,0,0,0.7);
	background-size: cover;
}

#u3726-3-bw
{
	z-index: 209;
	min-height: 463px;
}

#u3729-4
{
	z-index: 212;
	width: 960px;
	min-height: 108px;
	background-color: transparent;
	color: #F4F4F4;
	line-height: 77px;
	text-align: center;
	letter-spacing: 1px;
	font-size: 55px;
	font-family: roboto, sans-serif;
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	margin-top: 157px;
	left: 100px;
}

#u3730-4
{
	z-index: 216;
	width: 909px;
	min-height: 84px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 29px;
	text-align: center;
	font-size: 18px;
	font-family: roboto, sans-serif;
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	margin-top: 309px;
	left: 121px;
}

#pu4014
{
	width: 0.01px;
	margin-left: -139px;
	margin-top: 128px;
}

#u4014
{
	z-index: 387;
	width: 611px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4008_clip,#u4014_clip
{
	overflow: hidden;
	width: 611px;
	height: 439px;
}

#u4008_img,#u4014_img
{
	margin-left: -24px;
	margin-right: -24px;
}

#pu3731-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 63px;
	margin-left: 715px;
}

#u3731-4
{
	z-index: 220;
	width: 484px;
	min-height: 52px;
	background-color: transparent;
	color: #000000;
	line-height: 49px;
	text-align: left;
	letter-spacing: 0px;
	font-family: roboto, sans-serif;
	font-weight: 300;
	position: relative;
}

#u3732-6
{
	z-index: 224;
	width: 484px;
	min-height: 161px;
	background-color: transparent;
	color: #000000;
	line-height: 27px;
	text-align: left;
	font-size: 18px;
	letter-spacing: 0px;
	font-family: roboto, sans-serif;
	font-weight: 200;
	margin-top: 43px;
	position: relative;
}

#pu4020
{
	width: 0.01px;
	margin-left: -148px;
	margin-top: 211px;
}

#u4020
{
	z-index: 389;
	width: 611px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4020_img
{
	padding-left: 47px;
	padding-right: 47px;
}

#pu3733-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 95px;
	margin-left: 724px;
}

#u3733-4
{
	z-index: 230;
	width: 484px;
	min-height: 52px;
	background-color: transparent;
	color: #000000;
	line-height: 49px;
	text-align: left;
	letter-spacing: 0px;
	font-family: roboto, sans-serif;
	font-weight: 300;
	position: relative;
}

#u3734-4
{
	z-index: 234;
	width: 484px;
	min-height: 161px;
	background-color: transparent;
	color: #000000;
	line-height: 27px;
	text-align: left;
	font-size: 18px;
	letter-spacing: 0px;
	font-family: roboto, sans-serif;
	font-weight: 200;
	margin-top: 43px;
	position: relative;
}

#u3735-4
{
	z-index: 238;
	width: 753px;
	min-height: 52px;
	background-color: transparent;
	color: #000000;
	line-height: 42px;
	letter-spacing: 0px;
	font-family: roboto, sans-serif;
	font-weight: 300;
	margin-left: 99px;
	margin-top: 335px;
	position: relative;
}

#u3736-4
{
	z-index: 242;
	width: 960px;
	min-height: 161px;
	background-color: transparent;
	color: #000000;
	line-height: 27px;
	text-align: left;
	font-size: 18px;
	letter-spacing: 0px;
	font-family: roboto, sans-serif;
	font-weight: 200;
	margin-top: 57px;
	position: relative;
}

#himscast
{
	margin-left: 465px;
	margin-top: 217px;
	position: relative;
}

#pu3738-3
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 115px;
}

#u3738-3
{
	z-index: 247;
	min-height: 658px;
	text-align: center;
	background: #4C4C4C url("../images/shutterstock_274579301-u3738-3-fr.png") no-repeat right center;
	background-color: rgba(0,0,0,0.7);
	background-size: cover;
}

#u3738-3-bw
{
	z-index: 247;
	min-height: 658px;
}

#u3739-6
{
	z-index: 250;
	width: 960px;
	min-height: 281px;
	background-color: transparent;
	color: #F4F4F4;
	line-height: 77px;
	text-align: center;
	letter-spacing: 1px;
	font-size: 55px;
	font-family: roboto, sans-serif;
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	margin-top: 223px;
	left: 100px;
}

#u3740-4
{
	z-index: 256;
	width: 909px;
	min-height: 84px;
	background-color: transparent;
	color: #000000;
	line-height: 29px;
	text-align: left;
	font-size: 18px;
	font-family: roboto, sans-serif;
	font-weight: 200;
	margin-left: 21px;
	margin-top: 162px;
	position: relative;
}

#pu3745
{
	width: 0.01px;
	margin-left: -99px;
	margin-top: 178px;
}

#u3745
{
	z-index: 276;
	position: relative;
	margin-right: -10000px;
}

#u3750
{
	z-index: 277;
	position: relative;
	margin-right: -10000px;
	left: 332px;
}

#u3755
{
	z-index: 278;
	position: relative;
	margin-right: -10000px;
	left: 643px;
}

#u3760
{
	z-index: 279;
	position: relative;
	margin-right: -10000px;
	left: 954px;
}

#pu3743-4
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 57px;
}

#u3743-4
{
	z-index: 268;
	width: 227px;
	min-height: 84px;
	background-color: transparent;
	color: #000000;
	line-height: 34px;
	text-align: center;
	font-size: 24px;
	font-family: roboto, sans-serif;
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
}

#u3742-4
{
	z-index: 264;
	width: 223px;
	min-height: 84px;
	background-color: transparent;
	color: #000000;
	line-height: 34px;
	text-align: center;
	font-size: 24px;
	font-family: roboto, sans-serif;
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	left: 313px;
}

#u3741-4
{
	z-index: 260;
	width: 227px;
	min-height: 84px;
	background-color: transparent;
	color: #000000;
	line-height: 34px;
	text-align: center;
	font-size: 24px;
	font-family: roboto, sans-serif;
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	left: 622px;
}

#u3744-4
{
	z-index: 272;
	width: 227px;
	min-height: 84px;
	background-color: transparent;
	color: #000000;
	line-height: 34px;
	text-align: center;
	font-size: 24px;
	font-family: roboto, sans-serif;
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	left: 933px;
}

#pu3765-3
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 342px;
}

#u3765-3
{
	z-index: 280;
	min-height: 658px;
	text-align: center;
	background: #4C4C4C url("../images/mockamockups_freebie%202-u3765-3-fr.png") no-repeat right center;
	background-color: rgba(0,0,0,0.7);
	background-size: cover;
}

#u3084,#u3780,#u2869,#u2893,#u2918,#u3705,#u3726,#u3738,#u3765
{
	padding-top: 132px;
}

#u3765-3-bw
{
	z-index: 280;
	min-height: 658px;
}

#u3766-4
{
	z-index: 283;
	width: 960px;
	min-height: 172px;
	background-color: transparent;
	color: #F4F4F4;
	line-height: 77px;
	text-align: center;
	letter-spacing: 1px;
	font-size: 55px;
	font-family: roboto, sans-serif;
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	margin-top: 251px;
	left: 100px;
}

#pu3966
{
	width: 0.01px;
	margin-left: -59px;
	margin-top: 113px;
}

#u3966
{
	z-index: 379;
	width: 450px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu3767-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 150px;
	margin-left: 635px;
}

#u3767-4
{
	z-index: 287;
	width: 484px;
	min-height: 52px;
	background-color: transparent;
	color: #000000;
	line-height: 49px;
	text-align: left;
	letter-spacing: 0px;
	font-family: roboto, sans-serif;
	font-weight: 300;
	position: relative;
}

#u3768-11
{
	z-index: 291;
	width: 484px;
	min-height: 295px;
	background-color: transparent;
	color: #000000;
	line-height: 27px;
	text-align: left;
	font-size: 18px;
	letter-spacing: 0px;
	font-family: roboto, sans-serif;
	font-weight: 200;
	margin-top: 28px;
	position: relative;
}

#pu3996
{
	width: 0.01px;
	margin-left: -470px;
	margin-top: 145px;
}

#u3996
{
	z-index: 383;
	width: 900px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3996_img
{
	padding-left: 19px;
	padding-right: 18px;
}

#pu3770-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 84px;
	margin-left: 1046px;
}

#u3770-4
{
	z-index: 302;
	width: 484px;
	min-height: 52px;
	background-color: transparent;
	color: #000000;
	line-height: 49px;
	text-align: left;
	letter-spacing: 0px;
	font-family: roboto, sans-serif;
	font-weight: 300;
	position: relative;
}

#u3771-7
{
	z-index: 306;
	width: 484px;
	min-height: 295px;
	background-color: transparent;
	color: #000000;
	line-height: 27px;
	text-align: left;
	font-size: 18px;
	letter-spacing: 0px;
	font-family: roboto, sans-serif;
	font-weight: 200;
	margin-top: 33px;
	position: relative;
}

#pu3990
{
	width: 0.01px;
	margin-left: -328px;
	margin-top: 292px;
}

#u3990
{
	z-index: 381;
	width: 800px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu3773-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 73px;
	margin-left: 904px;
}

#u3773-4
{
	z-index: 313;
	width: 484px;
	min-height: 52px;
	background-color: transparent;
	color: #000000;
	line-height: 49px;
	text-align: left;
	letter-spacing: 0px;
	font-family: roboto, sans-serif;
	font-weight: 300;
	position: relative;
}

#u3774-6
{
	z-index: 317;
	width: 484px;
	min-height: 295px;
	background-color: transparent;
	color: #000000;
	line-height: 27px;
	text-align: left;
	font-size: 18px;
	letter-spacing: 0px;
	font-family: roboto, sans-serif;
	font-weight: 200;
	margin-top: 28px;
	position: relative;
}

#u3783-4
{
	z-index: 338;
	width: 753px;
	min-height: 52px;
	background-color: transparent;
	color: #000000;
	line-height: 42px;
	letter-spacing: 0px;
	font-family: roboto, sans-serif;
	font-weight: 300;
	margin-left: 99px;
	margin-top: 379px;
	position: relative;
}

#pu3893
{
	width: 0.01px;
	margin-top: 125px;
}

#u3893
{
	z-index: 342;
	width: 120px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3899
{
	z-index: 344;
	width: 120px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 210px;
}

#u3904
{
	z-index: 346;
	width: 120px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 420px;
}

#u3909
{
	z-index: 348;
	width: 120px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 630px;
}

#u3914
{
	z-index: 350;
	width: 120px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 840px;
}

#pu4032-4
{
	width: 0.01px;
	margin-left: 26px;
	margin-top: 15px;
}

#u4032-4
{
	z-index: 391;
	width: 82px;
	min-height: 65px;
	background-color: transparent;
	color: #000000;
	line-height: 27px;
	letter-spacing: 0px;
	font-size: 18px;
	font-family: roboto, sans-serif;
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
}

#u4034-4
{
	z-index: 399;
	width: 82px;
	min-height: 65px;
	background-color: transparent;
	color: #000000;
	line-height: 27px;
	letter-spacing: 0px;
	font-size: 18px;
	font-family: roboto, sans-serif;
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	left: 205px;
}

#u4033-4
{
	z-index: 395;
	width: 82px;
	min-height: 65px;
	background-color: transparent;
	color: #000000;
	line-height: 27px;
	letter-spacing: 0px;
	font-size: 18px;
	font-family: roboto, sans-serif;
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	left: 410px;
}

#u4036-4
{
	z-index: 407;
	width: 124px;
	min-height: 65px;
	background-color: transparent;
	color: #000000;
	line-height: 27px;
	letter-spacing: 0px;
	font-size: 18px;
	font-family: roboto, sans-serif;
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	left: 604px;
}

#u4035-4
{
	z-index: 403;
	width: 124px;
	min-height: 65px;
	background-color: transparent;
	color: #000000;
	line-height: 27px;
	letter-spacing: 0px;
	font-size: 18px;
	font-family: roboto, sans-serif;
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	left: 814px;
}

#pu1638,#pu3923
{
	width: 0.01px;
	margin-left: -100px;
}

#u3923
{
	z-index: 352;
	width: 120px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3929
{
	z-index: 354;
	width: 120px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 208px;
}

#u3934
{
	z-index: 356;
	width: 120px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 416px;
}

#u3939
{
	z-index: 358;
	width: 120px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 624px;
}

#u3944
{
	z-index: 360;
	width: 120px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 832px;
}

#u3949
{
	z-index: 362;
	width: 120px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 1040px;
}

#pu4037-4
{
	width: 0.01px;
	margin-left: -79px;
	margin-top: 21px;
}

#u4037-4
{
	z-index: 411;
	width: 82px;
	min-height: 65px;
	background-color: transparent;
	color: #000000;
	line-height: 27px;
	letter-spacing: 0px;
	font-size: 18px;
	font-family: roboto, sans-serif;
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
}

#u4039-4
{
	z-index: 419;
	width: 214px;
	min-height: 65px;
	background-color: transparent;
	color: #000000;
	line-height: 27px;
	letter-spacing: 0px;
	font-size: 18px;
	font-family: roboto, sans-serif;
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	left: 140px;
}

#u4038-4
{
	z-index: 415;
	width: 82px;
	min-height: 65px;
	background-color: transparent;
	color: #000000;
	line-height: 27px;
	letter-spacing: 0px;
	font-size: 18px;
	font-family: roboto, sans-serif;
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	left: 410px;
}

#u4041-4
{
	z-index: 427;
	width: 82px;
	min-height: 65px;
	background-color: transparent;
	color: #000000;
	line-height: 27px;
	letter-spacing: 0px;
	font-size: 18px;
	font-family: roboto, sans-serif;
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	left: 624px;
}

#u4042-4
{
	z-index: 431;
	width: 82px;
	min-height: 65px;
	background-color: transparent;
	color: #000000;
	line-height: 27px;
	letter-spacing: 0px;
	font-size: 18px;
	font-family: roboto, sans-serif;
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	left: 830px;
}

#u4040-4
{
	z-index: 423;
	width: 82px;
	min-height: 65px;
	background-color: transparent;
	color: #000000;
	line-height: 27px;
	letter-spacing: 0px;
	font-size: 18px;
	font-family: roboto, sans-serif;
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	left: 1037px;
}

#partnership
{
	margin-left: 473px;
	margin-top: 157px;
	position: relative;
}

#pu3964
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 162px;
}

#u3964
{
	z-index: 374;
	height: 2px;
	background-color: #7F7F7F;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
}

#u3964-bw
{
	z-index: 374;
	margin-top: 70px;
	height: 2px;
}

#u3965-4
{
	z-index: 375;
	min-height: 102px;
	background-color: transparent;
	color: #000000;
	line-height: 42px;
	letter-spacing: 0px;
	font-size: 35px;
	font-family: roboto, sans-serif;
	font-weight: 300;
}

#u3965-4-bw
{
	z-index: 375;
	min-height: 102px;
}

#u4050
{
	z-index: 498;
	width: 1150px;
	background-color: transparent;
	left: -95px;
	margin-top: 118px;
	position: relative;
}

#aboutus
{
	margin-left: 473px;
	margin-top: 146px;
	position: relative;
}

#pu3962
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 169px;
}

#u3962
{
	z-index: 369;
	height: 2px;
	background-color: #7F7F7F;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
}

#u3962-bw
{
	z-index: 369;
	margin-top: 71px;
	height: 2px;
}

#u3963-4
{
	z-index: 370;
	min-height: 102px;
	background-color: transparent;
	color: #000000;
	line-height: 42px;
	letter-spacing: 0px;
	font-size: 35px;
	font-family: roboto, sans-serif;
	font-weight: 300;
}

#u3963-4-bw
{
	z-index: 370;
	min-height: 102px;
}

#u3961-4
{
	z-index: 365;
	width: 960px;
	min-height: 161px;
	background-color: transparent;
	color: #000000;
	line-height: 35px;
	text-align: left;
	font-size: 25px;
	letter-spacing: 0px;
	font-family: roboto, sans-serif;
	font-weight: 200;
	margin-top: 101px;
	position: relative;
}

#ppamphletu4057
{
	width: 0.01px;
	padding-bottom: 61px;
	margin-left: -1140px;
	margin-top: 132px;
}

#pamphletu4057
{
	z-index: 437;
	width: 0.01px;
	height: 60px;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 496px;
	left: 1489px;
}

#u4069
{
	z-index: 438;
	width: 259px;
	position: relative;
	margin-right: -10000px;
	margin-top: -3px;
	left: -3px;
}

#u4070
{
	position: absolute;
	width: 257px;
	border-style: none;
	background-color: transparent;
	padding-bottom: 1px;
	top: 3px;
	left: 3px;
}

#u4071-4
{
	z-index: 440;
	width: 241px;
	min-height: 45px;
	border-width: 3px;
	border-style: solid;
	padding: 6px;
	color: #474747;
	text-align: center;
	letter-spacing: 3px;
	font-family: roboto, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: -3px;
	left: -3px;
}

#u4070:hover #u4071-4
{
	border-width: 3px;
	border-style: solid;
	border-color: #353535;
	background-color: #42410B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 45px;
	width: 241px;
	margin: -3px -10000px 0px 0px;
}

#u4070.PamphletThumbSelected #u4071-4
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 45px;
	width: 241px;
	margin: -1px -9998px 2px 2px;
}

.Form
{
	border-width: 3px;
	border-style: solid;
	border-color: #353535;
	background-color: transparent;
}

#u4070:hover #u4071-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u4070.PamphletThumbSelected #u4071-4 p
{
	color: #3A3A3A;
	visibility: inherit;
	padding-top: 14px;
	font-family: roboto, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u4071-2
{
	padding-top: 14px;
}

#u4058
{
	position: absolute;
	width: 1026px;
	background-color: #C8C8C8;
	background-color: rgba(191,191,191,0.85);
	padding-bottom: 44px;
	top: -356px;
	left: -1489px;
	-pie-background: rgba(191,191,191,0.85);
}

#u4058popup
{
	z-index: 444;
}

#u4059
{
	z-index: 445;
	width: 980px;
	height: 432px;
	border-width: 1px;
	border-style: solid;
	border-color: #BFBFBF;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u4061
{
	z-index: 446;
	width: 980px;
	min-height: 341px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 91px;
}

#u4060-4
{
	z-index: 447;
	width: 287px;
	min-height: 103px;
	background-color: transparent;
	line-height: 20px;
	text-align: left;
	font-size: 15px;
	font-family: roboto, sans-serif;
	font-weight: 200;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 415px;
}

#u4063-4
{
	z-index: 451;
	width: 287px;
	min-height: 73px;
	background-color: transparent;
	line-height: 24px;
	text-align: left;
	font-size: 20px;
	letter-spacing: 0px;
	font-family: roboto, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 27px;
}

#u4064
{
	position: absolute;
	width: 144px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 45px;
	top: -333px;
	left: -630px;
}

#u4064:hover
{
	background-color: transparent;
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u4065
{
	z-index: 456;
	width: 32px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 92px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u4055
{
	z-index: 435;
	width: 400px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 1418px;
}

#u4075
{
	z-index: 462;
	width: 30px;
	background-color: transparent;
	margin-left: 463px;
	top: -319px;
	margin-bottom: -20px;
	position: relative;
}

#u4074-4
{
	z-index: 458;
	width: 354px;
	min-height: 44px;
	background-color: transparent;
	color: #999999;
	line-height: 22px;
	text-align: center;
	font-size: 17px;
	font-family: roboto, sans-serif;
	font-weight: 300;
	margin-left: 301px;
	top: -283px;
	margin-bottom: -44px;
	position: relative;
}

#contactus
{
	margin-left: 469px;
	margin-top: 257px;
	position: relative;
}

#pu3040
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 198px;
}

#u3040
{
	z-index: 137;
	height: 2px;
	background-color: #7F7F7F;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
}

#u3040-bw
{
	z-index: 137;
	margin-top: 71px;
	height: 2px;
}

#u3070-4
{
	z-index: 138;
	min-height: 102px;
	background-color: transparent;
	color: #000000;
	line-height: 42px;
	letter-spacing: 0px;
	font-size: 35px;
	font-family: roboto, sans-serif;
	font-weight: 300;
}

#u3070-4-bw
{
	z-index: 138;
	min-height: 102px;
}

#u4095-4
{
	z-index: 464;
	width: 909px;
	min-height: 84px;
	background-color: transparent;
	color: #000000;
	line-height: 29px;
	text-align: center;
	font-size: 18px;
	font-family: roboto, sans-serif;
	font-weight: 200;
	margin-left: 26px;
	margin-top: 158px;
	position: relative;
}

#pu1770
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 210px;
}

#u1770,#u1770-bw
{
	z-index: 2;
	height: 127px;
}

#u1773
{
	z-index: 3;
	width: 39px;
	height: 161px;
	margin-right: -10000px;
	margin-top: -58px;
	left: 561px;
}

#u1773:hover
{
	width: 39px;
	height: 161px;
	min-height: 0px;
	margin: -58px -10000px 0px 0px;
}

#u1773:active
{
	width: 39px;
	height: 161px;
	min-height: 0px;
	margin: -58px -10000px 0px 0px;
}

#u4088-4
{
	z-index: 4;
	width: 413px;
	min-height: 32px;
	margin-right: -10000px;
	margin-top: 65px;
	left: 120px;
}

#u4089
{
	z-index: 8;
	width: 80px;
	margin-right: -10000px;
	margin-top: 59px;
	left: 30px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 1px;
}

#page .verticalspacer
{
	clear: both;
}

