#u2145
{
	border-style: none;
	border-color: transparent;
	background-color: #EDEDED;
}

#u3687-4,#u3690-4
{
	background-color: transparent;
	line-height: 16px;
	color: #444C5B;
	text-align: center;
	font-size: 13px;
	font-family: roboto, sans-serif;
	font-weight: 400;
	position: relative;
}

#u3691,#u3688
{
	background-color: transparent;
	position: relative;
}

#u3695
{
	background-color: #BEBEBE;
	position: relative;
}

